# Unwanted stuff
.mono/
StardewValley/
Electron/
transmission/
vlc/
QtProject.conf

zsh/.zplugin/*
!zsh/.zplugin/plugins
zsh/.zplugin/plugins/*
!zsh/.zplugin/plugins/_local---*
zsh/.zplugin/plugins/_local---zinit

zsh/.zcompdump
zsh/.zhistory
zsh/.zcompcache
jupyter/profile_default/history.sqlite
jupyter/profile_default/startup/README
configstore/update-notifier-npm.json
direnv/allow
gnupg/
asdf/tool-versions

# Secrets
aws/
docker/

# vscode - managed separately
Code - OSS

pulse/
pipewire/
dconf/
chromium/
