<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <!-- Switches ` and § keys on an internal ISO keyboard-->
    <dict>
        <key>Label</key>
        <string>desktop.tilderemap</string>

        <key>OnDemand</key>
        <false/>
        <key>RunAtLoad</key>
        <true/>
        <key>LaunchOnlyOnce</key>
        <true/>

        <key>ProgramArguments</key>
        <array>
            <string>hidutil</string>
            <string>property</string>
            <string>--matching</string>
            <string>{"VendorID":0x5ac,"ProductID":0x27c}</string>
            <string>--set</string>
            <string>{"UserKeyMapping":[{"HIDKeyboardModifierMappingSrc":0x700000064,"HIDKeyboardModifierMappingDst":0x700000035},{"HIDKeyboardModifierMappingSrc":0x700000035,"HIDKeyboardModifierMappingDst":0x700000064}]}</string>
        </array>
    </dict>
</plist>
